@media screen and (max-width: 865px) {
  main {
    section.resume {
      flex-direction: column;
    }
  }
}
@media screen and (max-width: 650px) {
  main {
    section.main-info {
      .info {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }
    section.resume {
      padding: 1rem;
    }
  }
}
@media screen and (max-width: 550px) {
  header {
    position: static;
    nav {
      ul {
        flex-direction: column;
        padding-left: 0;

        align-items: center;
      }
    }
  }
  main {
    .resume {
      .picture {
        // width: 300px;
      }
    }
  }
}
